<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nuc.edu.lumecho.mapper.ChallengeSubmissionMapper">

    <select id="selectSubmissionList"
            resultType="nuc.edu.lumecho.model.dto.response.challenge.ChallengeSubmissionItemResponse">

        SELECT
            cs.id,
            cs.title,
            cs.content,
            cs.location,
            cs.final_score AS finalScore,
            cs.submit_time AS submitTime,

            u.username AS authorName,

            rf.file_url AS authorAvatar,

            img.file_url AS coverUrl

        FROM challenge_submission cs

                 LEFT JOIN challenge_application ca
                           ON cs.application_id = ca.id

                 LEFT JOIN user u
                           ON ca.user_id = u.id

                 LEFT JOIN resource_file rf
                           ON rf.biz_id = u.id
                               AND rf.biz_type = 'AVATAR'

                 LEFT JOIN resource_file img
                           ON img.biz_id = cs.id
                               AND img.biz_type = 'SUBMISSION_IMAGE'

        WHERE ca.challenge_id = #{challengeId}
          AND cs.status = 1

        ORDER BY cs.final_score DESC, cs.submit_time DESC

    </select>

</mapper>