<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nuc.edu.lumecho.mapper.ChallengeApplicationMapper">

    <update id="updateStatus">
        UPDATE challenge_application ca
        JOIN challenge c ON ca.challenge_id = c.id

        <set>
            ca.status = #{status},
            c.participant_count = CASE WHEN #{status} = 1 THEN c.participant_count + 1 ELSE c.participant_count END
        </set>

        WHERE ca.id = #{id}
    </update>
    <update id="updateById">
        UPDATE challenge_application
        SET
            status = #{status},
            remark = #{remark}
        WHERE id = #{id}
    </update>

    <select id="listByChallengeIdWithUser" resultType="nuc.edu.lumecho.model.vo.ChallengeApplicationVO">
        SELECT
            ca.id AS "application.id",
            ca.challenge_id AS "application.challengeId",
            ca.user_id AS "application.userId",
            ca.apply_time AS "application.applyTime",
            ca.status AS "application.status",
            ca.remark AS "application.remark",
            u.username,
            rf.file_url AS avatar
        FROM challenge_application ca
                 JOIN user u ON ca.user_id = u.id
                 LEFT JOIN resource_file rf
                           ON rf.biz_id = u.id
                               AND rf.biz_type = 'AVATAR'
        WHERE ca.challenge_id = #{challengeId}
    </select>
</mapper>