<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nuc.edu.lumecho.mapper.UserMapper">

    <update id="updateUser" parameterType="nuc.edu.lumecho.model.entity.User">
        UPDATE user
        <set>
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="username != null">username = #{username},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="role != null">role = #{role},</if>
            <if test="deletedAt != null or deletedAt == null">
                deleted_at = #{deletedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>


    <select id="selectUserBaseInfoByIds" resultType="nuc.edu.lumecho.model.dto.response.user.UserBaseInfoResponse">
        SELECT
        u.id,
        u.username,
        rf.file_url AS avatar
        FROM user u
        LEFT JOIN resource_file rf
        ON rf.biz_id = u.id
        AND rf.biz_type = 'AVATAR'
        WHERE u.id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
        AND u.deleted_at IS NULL
    </select>

    <select id="selectUserBaseInfoById" resultType="nuc.edu.lumecho.model.dto.response.user.UserBaseInfoResponse">
        SELECT
        u.id,
        u.username,
        rf.file_url AS avatar
        FROM user u
        LEFT JOIN resource_file rf
        ON rf.biz_id = u.id
        AND rf.biz_type = 'AVATAR'
        WHERE u.id = #{id}
        AND u.deleted_at IS NULL
        LIMIT 1
    </select>

</mapper>