<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="nuc.edu.lumecho.mapper.UserMapper">

    <update id="updateUser" parameterType="nuc.edu.lumecho.model.entity.User">
        UPDATE user
        <set>
            <if test="account != null">account = #{account},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="username != null">username = #{username},</if>
            <if test="bio != null">bio = #{bio},</if>
            <if test="email != null">email = #{email},</if>
            <if test="status != null">status = #{status},</if>
            <if test="role != null">role = #{role},</if>
            <if test="deletedAt != null or deletedAt == null">
                deleted_at = #{deletedAt},
            </if>
        </set>
        WHERE id = #{id}
    </update>

</mapper>